__pycache__/
*.py[cod]
*.so

.env
.venv/
venv/
env/
.ipynb_checkpoints/

*.log
runs/
logs/
summary/
eval_results/

Experiments/
checkpoints/
weights/
*.pth
*.pt
*.ckpt
*.onnx

data/
datasets/
GeoFlood-275/
Benchmark*/

.DS_Store
